{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Iniciar sesión</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario</label>
            <input type="text" id="username" class="form-control" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-interactive">Iniciar sesión</button>
    </form>
</div>
{% endblock %}
